*{
    padding: 0;
    margin: 0;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 100;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);
}

html{
    overscroll-behavior: none;
}

/* __HEADER E NAVBAR__ */

header{
    width: 100%;
    height: 80px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.menu-desk{
    justify-items: space-between;
    display: flex;
    align-items: center;
    margin: 5%;
}

.menu-desk ul{
    list-style: none;
}

.menu-desk ul li a{
    text-decoration: none;
    cursor: pointer;
    position: relative;
    color: #fff;
    margin: 10px;
}

.menu-desk ul li a::after{
    content: " ";
    width: 0%;
    height: 2px;  
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.menu-desk ul li a:hover::after{
    width: 100%;
}

#menumobile{
    display: none;
}

.sobremim{
    color: #000000;
}

.txt{
    font-size: 45px;
    font-weight: 300;
}

.txt span{
    position: relative;
}

.txt span::before{
    content: "";
    color: #ff0000;
    animation: palavras 20s infinite;
}

.txt span::after{
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid #fff;
    right: -10px;
    animation: cursor .8s infinite, digita 20s steps(18) infinite;
    width: calc(100% + 18px);
    background-color: #ffffff;
}

.logo{
    margin: 3%;
    margin-top: 50px;
}

.logo img{
    width: 30%;
}

.slogan{
    color: #fff;
}

.slogan:hover{
    color: #ff0000;
    cursor: pointer;
}

/* __MAIN__ */

.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-color: #fff;
}

.h2principal{
    display: flex;
    justify-content: center;
}

.text{
    display: none;
}

.tecnologias{
    display: flex;
    content: "";
    background-color: #fff;
    height: 2%;
    white-space: nowrap;
    overflow: hidden;
    gap: 10px;
}

.tecimg{
    margin: -60 0;
    display: inline-block;
    animation: passando 25s infinite linear;
    gap: 100px;
}

.tecnologias img{
    width: 30px;
}

/* __SOBRE__ */

.sobre{
    box-sizing: border-box;
    margin: 10%;
    height: 100vh
}

.sobre1 {
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 2%;
    font-size: 20px;
}

.sobre1 span{
    color: #ff0000;
    font-size: 25px;
}

.eumobile1{
    display: none;
}

.circle{
    display: none;
}

.ola{
    display: none;
}

.linha2{
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    content: " ";
    height: 2%;
}

.formacoes{
    animation: passandor 90s infinite linear;
}

.formtxt{
    color: #fff;
    display: inline-block;
    font-size: 20px;
}

.formtxt span{
    color: #ff0000;
    font-size: 25px;
}

.sobre1 img{
    width: 20%;
    border-radius: 20px;
    border: 2.5px solid #ff0000;
}

.sobre2{
    color: #fff;
    display: flex;
    justify-content: center;
    font-size: 20px;
    gap: 2%;
}

.sobre2 span{
    color: #ff0000;
    font-size: 25px;
}

.sobre2 img{
    width: 20%;
    border-radius: 20px;
    border: 2.5px solid #ff0000;
}

.sobre3{
    display: flex;
    color: #FFF;
    gap: 2%;
    font-size: 20px;
}

.sobre3 span{
    color: #ff0000;
    font-size: 25px;
}

.container-skills {
    position: relative;
    max-width: 500px;
    width: 80%;
    background: #000;
    margin: 0 15px;
    padding: 10px 20px;
    border-radius: 7px;
    user-select: none;
    border: 2px solid #ff0000;
  }
  
  .container-skills .skill-box {
    width: 100%;
    margin: 25px 0;
  }
  
  .skill-box .title {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #FF0000;
  }
  
  .skill-box .skill-bar {
    height: 8px;
    width: 100%;
    border-radius: 6px;
    margin-top: 6px;
    background: rgba(255, 255, 255, 0.1);
  }
  
  .skill-bar .skill-per {
    position: relative;
    display: block;
    height: 100%;
    width: 90%;
    border-radius: 6px;
    background: #FFF;
    animation: progress 0.4s ease-in-out forwards;
    opacity: 0;
  }
  
  .skill-per.html {
    /*progresso de HTML*/
    width: 80%;
    animation-delay: 0.1s;
  }
  
  .skill-per.css {
    /*progresso de CSS*/
    width: 75%;
    animation-delay: 0.1s;
  }
  
  .skill-per.Python {
    /*progresso de Python*/
    width: 40%;
    animation-delay: 0.2s;
  }
  
  .skill-per.JavaScript {
    /*progresso de JavaScript*/
    width: 70%;
    animation-delay: 0.3s;
  }

  .skill-per.MySQL {
    /*progresso de MySQL*/
    width: 45%;
    animation-delay: 0.3s;
  }
  
.skill-per.Java {
    /* progresso Java */
    width: 35%;
    animation-delay: 0.3s;
}
  
  .skill-per .tooltip {
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: #fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: #000000;
  
    z-index: 1;
  }
  
  .tooltip::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background: #000000;
    transform: translateX(-50%) rotate(45deg);
  }
  

/* ___PROJETOS___ */

::-webkit-scrollbar{
    display: none;
}

html, body{
    font-family: "Neue Montreal";
    height: 100vh;
}

.row h1{
    color: #fff;
    font-size: 80px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: -0.02em;
}

.row p{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    width: 50%;
}

.projetos img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.capa{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100%;
    z-index: 2;
}

.letters{
    flex: 1;
    display: flex;
    text-transform: uppercase;
}

.letters > div {
    flex: 1;
    font-size: 10vw;
    font-weight: 400;
    color: #000;
    text-align: center;
}

.website-content{
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 100vh;
}

.img-holder{
    position: relative;
    top: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    clip-path: polygon(37.5% 20%, 62.5% 20%, 62.5% 80%, 37.5% 80%);
    transform: rotate(30deg);
}

.img-holder img{
    position: relative;
    transform: scale(2);
}

.content-holder{
    position: relative;
    top: -5px;
    width: 100%;
    background: #000;
    color: #fff;
    padding: 1em;
}

.row{
    margin: 2em 1em;
}

.img{
    width: 200px;
    height: 275px;
}

.row:nth-child(2) .img{
    position: relative;
    left: 50%;
}

.row:nth-child(3) .img{
    position: relative;
    left: 15%;
}

.row:nth-child(4) .img{
    position: relative;
    left: 70%;
}

.row:nth-child(6) p{
    position: relative;
    left: 30%;
    margin: 4em 0;
}

/* ___CONTATO___ */

.contato{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    height: 294px;
    width: 240px;
    color: #FF0000;
    perspective: 800px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .card {
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 2rem;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
  }
  
  .card-top {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
    position: absolute;
    width: 50%;
    background-color: transparent;
    border: 2px solid #ff0000;
    top: 0;
    border-top: none;
    border-radius: 0 0 1rem 1rem;
    box-shadow: (0px 0px 10px 5px #ff0000);
  }
  
  .card-top-para {
    font-size: 16px;
    font-weight: bold;
  }
  
  .container:hover > .card {
    cursor: pointer;
    transform: rotateX(180deg) rotateZ(-180deg);
  }
  
  .front,
  .back {
    height: 100%;
    width: 100%;
    border: #ff0000 solid 2px;
    border-radius: 2rem;
    box-shadow: 0px 0px 10px 5px #ff0000;
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .back {
    background-color: #000;
    transform: rotateX(180deg) rotateZ(-180deg);
  }
  
  .heading {
    font-size: 22px;
    font-weight: bold;
  }
  
  .follow {
    font-size: 16px;
    font-weight: 500;
  }
  
  .icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
  }

  .icons img{
    width: 40px;
  }

  .cont{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fotocont {
    width: 100px;
  }

  /* __FOOTER__ */
  footer{
    color: #fff;
  }


/* ___ANIMAÇÕES___ */


@keyframes rotate{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

@keyframes palavras {
    0%,20%{
        content: "Miguel Juan!";
    }
    21%,40%{
        content: "Engenheiro!";
    }
    41%,60%{
        content: "Hacker!";
    }
    61%,80%{
        content: "Dev FullStack!";
    }
    81%,100%{
        content: "Analista!";
    }
}

@keyframes cursor {
    0%{
        border-left: #000;
    }
}

@keyframes digita {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
        width: calc(100% + 18px);
    }
}

@keyframes passando {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

@keyframes passandor {
    from{
        transform: translateX(calc(100% - 150%));
    }
}  

@keyframes progress {
    0% {
      width: 0;
      opacity: 1;
    }
  
    100% {
      opacity: 1;
    }
  }

/* ___TAMANHOS DE TELA___ */

@media screen and (max-width: 1020px){

    /* nav e haeder */

    header{
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
    }

    #menumobile{
        display: block;
    }

    #menu{
        display: none;
        position: absolute;
        width: 100%;
        top: 80px;
        right: 0px;
        z-index: 1000;
        background-color: #000000;
    }

    .menu-desk{
        justify-content: space-around;
    }

    #nav ul li a{
        display: block;
        padding: .5rem;
        color: #fff;
    }

    #nav.active #menu {
        display: flex;
    }

    .slogan{
        display: none;
    }

    .logo{
        margin-top: 10%;
    }

    .logo img{
        width: 23%;
    }

    /* main */

    main{
        flex-direction: column-reverse;
    }

    .circle{
        position: relative;
        width: 170px;
        height: 170px;
        border-radius: 50%;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logoc{
        position: absolute;
        width: 150px;
        height: 150px;
        background: url('elementos/minhafoto.png');
        background-size: cover;
        border-radius: 50%;
    }

    .textc{
        position: absolute;
        width: 100%;
        height: 100%;
        animation: rotate 10s linear infinite;
    }

    .textc span{
        position: absolute;
        left: 50%;
        top: -6%;
        font-size: 0.8em;
        transform-origin: 0 85px;
        color: rgb(0, 0, 0);
    }

    .txt{
        display: none;
    }

    .ola{
        margin-bottom: 100px;
        color: red;
    }

    .h2principal{
        margin-top: -50%;
    }

    .h2principal span{
        color: #ff0000;
    }

    .tec22{
        animation: passandor 110s linear infinite;
    }

    .sobre1{
        gap: 7%;
    }

    .sobre2{
        gap: 7%;
    }

    .sobre{
        height: 210vh;
        font-size: 15%;
    }

    .contairner-skills{
        width: 130%;
        height: 80%;
    }

}