*{
    padding: 0;
    margin: 0;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 100;
    box-sizing: border-box;
}

body{
    background-color: rgb(0, 0, 0);
}

/* HEADER E NAVBAR */

header{
    width: 100%;
    height: 80px;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.menu-desk{
    justify-items: space-between;
    display: flex;
    align-items: center;
    margin: 5%;
}

.menu-desk ul{
    list-style: none;
}

.menu-desk ul li a{
    text-decoration: none;
    cursor: pointer;
    position: relative;
    color: #fff;
    margin: 10px;
}

.menu-desk ul li a::after{
    content: " ";
    width: 0%;
    height: 2px;  
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.menu-desk ul li a:hover::after{
    width: 100%;
}

#menumobile{
    display: none;
}

.sobremim{
    color: #000000;
}

.txt{
    font-size: 45px;
    font-weight: 300;
}

.txt span{
    position: relative;
}

.txt span::before{
    content: "";
    color: #ff0000;
    animation: palavras 20s infinite;
}

.txt span::after{
    content: "";
    position: absolute;
    height: 100%;
    border-left: 2px solid #fff;
    right: -10px;
    animation: cursor .8s infinite, digita 20s steps(18) infinite;
    width: calc(100% + 18px);
    background-color: #ffffff;
}

.logo{
    margin: 3%;
    margin-top: 50px;
}

.logo img{
    width: 30%;
}

.slogan{
    color: #fff;
}

.slogan:hover{
    color: #ff0000;
    cursor: pointer;
}

/* MAIN */

.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-color: #fff;
}

.h2principal{
    display: flex;
    justify-content: center;
}

.text{
    display: none;
}

.tecnologias{
    display: flex;
    content: "";
    background-color: #fff;
    height: 2%;
    white-space: nowrap;
    overflow: hidden;
    gap: 10px;
}

.tecimg{
    margin: -60 0;
    display: inline-block;
    animation: passando 25s infinite linear;
    gap: 100px;
}

.tecnologias img{
    width: 30px;
}

.sobre{
    box-sizing: border-box;
    margin: 10%;
    height: calc(100vh - 59vh);
}

.sobre1 {
    color: #fff;
    display: flex;
    justify-content: center;
    gap: 2%;
}

.sobre1 span{
    color: #ff0000;
}

.eumobile1{
    display: none;
}

.circle{
    display: none;
}

.ola{
    display: none;
}

.linha2{
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    content: " ";
    height: 2%;
}

.formacoes{
    animation: passandor 90s infinite linear;
}

.formtxt{
    color: #fff;
    display: inline-block;
    font-size: 20px;
}

.formtxt span{
    color: #ff0000;
    font-size: 25px;
}

.sobre1 img{
    width: 25%;
    border-radius: 20px;
    border: 2.5px solid #ff0000;
}

.sobre2{
    color: #fff;
    display: flex;
    justify-content: center;
}

.sobre2 span{
    color: #ff0000;
}

.sobre2 img{
    width: 25%;
    border-radius: 20px;
    border: 2.5px solid #ff0000;
}

/* ANIMAÇÕES */

@keyframes rotate{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

@keyframes palavras {
    0%,20%{
        content: "Miguel Juan!";
    }
    21%,40%{
        content: "Engenheiro!";
    }
    41%,60%{
        content: "Hacker!";
    }
    61%,80%{
        content: "Dev FullStack!";
    }
    81%,100%{
        content: "Analista!";
    }
}

@keyframes cursor {
    0%{
        border-left: #000;
    }
}

@keyframes digita {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%{
        width: calc(100% + 18px);
    }
}

@keyframes passando {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

@keyframes passandor {
    from{
        transform: translateX(calc(100% - 150%));
    }
}

/* TAMANHOS DE TELA */

@media screen and (max-width: 1020px){

    /* nav e haeder */

    header{
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
    }

    #menumobile{
        display: block;
    }

    #menu{
        display: none;
        position: absolute;
        width: 100%;
        top: 80px;
        right: 0px;
        z-index: 1000;
        background-color: #000000;
    }

    .menu-desk{
        justify-content: space-around;
    }

    #nav ul li a{
        display: block;
        padding: .5rem;
        color: #fff;
    }

    #nav.active #menu {
        display: flex;
    }

    .slogan{
        display: none;
    }

    .logo{
        margin-top: 10%;
    }

    .logo img{
        width: 23%;
    }

    /* main */

    main{
        flex-direction: column-reverse;
    }

    .circle{
        position: relative;
        width: 170px;
        height: 170px;
        border-radius: 50%;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logoc{
        position: absolute;
        width: 150px;
        height: 150px;
        background: url('elementos/minhafoto.png');
        background-size: cover;
        border-radius: 50%;
    }

    .textc{
        position: absolute;
        width: 100%;
        height: 100%;
        animation: rotate 10s linear infinite;
    }

    .textc span{
        position: absolute;
        left: 50%;
        top: -6%;
        font-size: 0.8em;
        transform-origin: 0 85px;
        color: rgb(0, 0, 0);
    }

    .txt{
        display: none;
    }

    .ola{
        margin-bottom: 100px;
        color: red;
    }

    .h2principal{
        margin-top: -50%;
    }

    .h2principal span{
        color: #ff0000;
    }

    .tec22{
        animation: passandor 110s linear infinite;
    }

    .sobre{
        height: calc(100vh - 20vh);
    }
}