body{
    background: #c90a02;
}

.contruindo{
    height: 90vh;
    display: grid;
    place-items: center;
}

h1{
    color: #fff;
    display: grid;
    place-items: center;
}

.contruindo button{
    font-size: 1.5em;
    border-radius: 10px;
}

.contruindo button:hover{
    background-color: #000;
    color: #fff;
    cursor: pointer;
}